{% extends 'layouts/dashboard.twig' %}
{% import 'macros/print.twig' as printMacros %}

{% block main %}
  <table>
    <tr>
      {% for name, queue in queues %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for name, queue in queues %}
        <td>
          {% for job in queue.jobs %}
            {{ printMacros.printRecord(job, baseURL) }}
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
